@import "../vars";

.portfolio {
  padding: 0;
  margin: 0;
  background-color: #f6f6f6;
  text-align: center;
  padding-top: 110px;
  &-title {
    padding-bottom: 47px;
  }
  .myWork {
    padding-bottom: 100px;
    &-image {
      width: 100%;
      height: auto;
      margin-bottom: 40px;
    }
    &-link {
      font-weight: 500;
      font-size: 18px;
      line-height: 22px;
      text-decoration-line: underline;
      color: $dark;
      transition: 0.5s;
    }
    &-link:hover {
      color: $accent-color;
    }
  }
}

@media (max-width: 560px) {
  .myWork {
    padding-top: 47px;
  }
}
